---
import {
  IconBrandGithub,
  IconBrandTwitter,
  IconBrandMatrix,
  IconBrandDiscord,
  IconCode,
} from '@tabler/icons-vue'
import SimpleIcons from "../components/SimpleIcons.astro"
import MinWorks from "../components/MinWorks.astro"
import Layout from "../layouts/Layout.astro"
import NakasyouIcon from "../assets/nakasyou-icon.png"
---
<Layout title="nakasyou's profile" description="nakasyouのプロフィールです!">
  <div class="text-center text-3xl">nakasyou's profile</div>
  <div class="flex items-center justify-center text-center">
    <div><img
      alt="nakasyou-icon"
      src={ NakasyouIcon }
      class="rounded-full w-24 h-24" /></div>
    <div class="ext-2xl">Shotaro Nakamura</div>
  </div>
  <div class="mx-10">
    <div class="text-2xl">About</div>
    <div class="indent-1">
      <div>
        <div>Shotaro Nakamura</div>
        <div class="text-sm indent-2">中村 承太郎</div>
      </div>
      <div>Web開発と分散型アプリケーション、サイバーセキュリティに興味がある中学2年生</div>
      <div>読書部という部活で副部長。文芸部に名称変更する計画を練っている。</div>
    </div>
    <div class="text-2xl">Skills</div>
    <div class="indent-1">
      <div>
        <ul class="flex flex-wrap">
          <li>Python: ★★★★★</li>
          <li>JavaScript: ★★★★★</li>
          <li>Deno: ⭐︎★★★★</li>
          <li>TypeScript: ⭐︎★★★★</li>
          <li>HTML&amp;CSS: ⭐︎★★★★</li>
          <li>Vue.js ⭐︎⭐︎★★★</li>
          <li>React ⭐︎⭐︎⭐︎★★</li>
        </ul>
      </div>
    </div>
    <div class="text-2xl">Bio</div>
    <div class="indent-1">
      <ul>
        <li>2009/11/3 生まれる</li>
        <li>2019 Scratch のアカウントを作ってみる</li>
      </ul>
    </div>
    <div class="text-2xl">Works</div>
    <div>
      <MinWorks />
      <div class="text-right">
        <a class="btn btn-primary" href="works">
          Show More
        </a>
      </div>
    </div>
    <div class="text-2xl">Mutual Link</div>
    <div>
      <p>相互リンクです。追加してほしければ、
        <a href="https://github.com/nakasyou/nakasyou.github.io/issues/new?assignees=&labels=&template=相互リンクの追加要望.md&title=相互リンクの追加要望" class="link">
          Issue
        </a>
        ,Discord/Twitter/Matrixまたは何らかの連絡手段で。</p>
        <table class="table w-full">
          <thead>
            <tr>
              <td>Links</td>
              <td>Author</td>
              <td>Date</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><a href="https://harusamemelon.github.io" class="link">はるさめのホームページ</a></td>
              <td>はるさめ</td>
              <td>2023-05-06</td>
            </tr>
            <tr>
              <td><a href="https://p-nutsk.github.io" class="link">P_nutsKのページ</a></td>
              <td>P_nutsK</td>
              <td>2023-05-09</td>
            </tr>
            <tr>
              <td><a href="https://rangem-kishiyama.github.io" class="link">RangeM Kishiyamaのブログ</a></td>
              <td>RangeM Kishiyama</td>
              <td>2023-05-21</td>
            </tr>
          </tbody>
        </table>
    </div>
    <div>
      <div class="text-xl">Ads(test)</div>
      <iframe title="ScratchAds" style="overflow:hidden;border:1px solid #000" scrolling="no" src="https://scratchads.deno.dev/ad/4-3?w=260" width="260" height="173.33333333333334">ScratchAds loading...</iframe>
    </div>
  </div>
  <br />
  <div class="flex flex-wrap items-center justify-center">
    <a class="btn btn-outline" href="https://github.com/nakasyou">
      <IconBrandGithub />
      <span>@nakasyou</span>
    </a>
    <a class="btn btn-outline" href="https://twitter.com/nakasyou0">
      <IconBrandTwitter />
      <span>@nakasyou0</span>
    </a>
    <a class="btn btn-outline" href="https://matrix.to/#/@nakasyou:matrix.org">
      <IconBrandMatrix />
      <span>@nakasyou:matrix.org</span>
    </a>
    <div class="tooltip" data-tip="Copyed!">
      <a class="btn btn-outline" href="javascript:alert('Wait...')">
        <IconBrandDiscord />
        <span>nakasyou#1395</span>
      </a>
    </div>
    <a class="btn btn-outline" href="https://scratch.mit.edu/users/nakasyou1103">
      <div class="flex">
        <SimpleIcons icon="scratch" class='block' />
        <div>@nakasyou1103</div>
      </div>
    </a>
    <a class="btn btn-outline" href="https://github.com/nakasyou/nakasyou.github.io">
      <IconCode/>
      <span>Source Code</span>
    </a>
  </div>
  <div class="flex flex-wrap mx-10">
    <div>Onion mirror:</div>
    <div class="w-full overflow-x-scroll">
      <a href="http://baf33sebowvjtlnkcljqjssb3vsw2po7sayehofs7d576s3j22bfqwid.onion" class="link">baf33sebowvjtlnkcljqjssb3vsw2po7sayehofs7d576s3j22bfqwid.onion</a>
    </div>
  </div>
</Layout>
