<header class="sticky top-0 z-20 drop-shadow-md">
  <div class="navbar bg-base-100">
    <div class="navbar-start">
      <a class="btn btn-ghost normal-case text-xl" href="/">nakasyou's website</a>
    </div>
    <div class="navbar-end">
      <ul class="menu menu-horizontal bg-base-100 rounded-box max-lg:hidden">
        <li><a href="/blog">Blog</a></li>
        <li><a href="/works">Works</a></li>
        <li><a href="/projects">Projects</a></li>
      </ul>
      <div class="dropdown dropdown-end">
        <label tabindex="0" class="btn btn-ghost lg:hidden">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" /></svg>
        </label>
        <ul tabindex="0" class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-52">
          <li><a href="/blog">Blog</a></li>
          <li><a href="/works">Works</a></li>
          <li><a href="/projects">Projects</a></li>
          <li><button @click="close" class="btn btn-ghost">Close</button></li>
        </ul>
      </div>
    </div>
  </div>
</header>
