---
export type Meta = Record<string, string>
export interface Props {
  title: string
  description: string
  metas: Meta[]
}
---
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{Astro.props.title}</title>
    <meta name="description" content={Astro.props.description} />
    <link rel="sitemap" href="/sitemap-index.xml">
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-XCPC66GQ5T"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'G-XCPC66GQ5T');
    </script>
    {
      Astro.props.metas.map(meta => {
        return <meta {...meta}/>
      })
    }
  </head>
  <body>
    <slot />
  </body>
</html>
