---
import Layout from "./Layout.astro"
import { format } from 'date-fns'
import {
  IconCalendarTime,
  IconReload,
  IconTags,
} from '@tabler/icons-vue'
import { tags } from "../../data/tags"
const { frontmatter } = Astro.props

console.log(tags)
---
<Layout title={frontmatter.title} description={frontmatter.desc}>
  <div class="mx-10 max-w-full">
    <div>
      <div class="text-3xl">{ frontmatter.title }</div>
      <div class="flex flex-wrap gap-2">
        <div class="flex">
          <IconCalendarTime class="block" />
          <div>{ format(new Date(frontmatter.date), "yyyy/MM/dd") }</div>
        </div>
        <div class="flex">
          <IconReload class="block"/>
          <div>{ format(new Date(frontmatter.update), "yyyy/MM/dd") }</div>
        </div>
      </div>
      <div class="flex flex-wrap">
        <IconTags class="inline"/>
        {
          (frontmatter.tags as number[]).map(tag => {
            return <a class="link mx-1" href={`/blog/tag/${tag}`}>{ tags[tag] }</a>
          })
        }
      </div>
    </div>
    <hr class="my-2"/>
    <div class="prose max-w-full">
      <slot />
    </div>
  </div>
</Layout>
